@model BugTracker.Models.UserRoleViewModel

@{
    ViewBag.Title = "UnassignUserRole";
}

<div class="row" style="padding-top: 15px;">

    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h2><b>@(Model.RoleName + "s")</b></h2>
            </div>
            <div class="panel-body">
                <div id="topTabs-container-home">
                </div>

                @using (Html.BeginForm("UnassignUserRole", "RoleManagement", FormMethod.Post,
    new { encType = "multipart/form-data", name = "myform" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.RoleId)
                        @Html.HiddenFor(model => model.RoleName)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(model => model.SelectedUsers, Model.Users as MultiSelectList, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Users, "", new { @class = "text-danger" })
                                @if (ViewBag.Message != null)
                                {
                                    <br />
                                    <div class="text-danger">@ViewBag.Message</div>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Unassign User(s)" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>

                <div class="col-md-offset-1">
                    @Html.ActionLink("Back to List", "ListRoles", "RoleManagement")
                </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
